body {
    font-family: Arial, sans-serif;
}

.container {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    text-align: left;
}

h2 {
    color: #333;
 margin-left: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

span {
    font-size: smaller;
    margin-left: 20px;
}

input[type="text"] {
    padding: 9px;    
    width: 280px;
    margin-bottom: 18px;
    border: #addcf1 1px solid;
 
}

form {
    margin-top: 7px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: left;
}

input[type="submit"] {
    padding: 9px 20px;
    background-color: #90cf1bef;
    color: white;
    border: solid 1px #90cf1bef;
    border-radius: 7px;
    cursor: pointer;   
    text-align: left;
}

input[type="submit"]:hover {
    background-color: #45a049;
}